/ArduinoFloppyReader/lib/LinuxCompat.o
/ArduinoFloppyReader/lib/LinuxCompat.d
/ArduinoFloppyReader/lib/ArduinoInterface.o
/ArduinoFloppyReader/lib/ArduinoInterface.d
/ArduinoFloppyReader/lib/ADFWriter.o
/ArduinoFloppyReader/lib/ADFWriter.d
/ArduinoFloppyReader/avrfloppyreader
/ArduinoFloppyReader/ArduinoFloppyReader/Main.o
/ArduinoFloppyReader/ArduinoFloppyReader/Main.d
CVS
