/ArduinoFloppyReader/lib/LinuxCompat.o
/ArduinoFloppyReader/lib/LinuxCompat.d
/ArduinoFloppyReader/lib/ArduinoInterface.o
/ArduinoFloppyReader/lib/ArduinoInterface.d
/ArduinoFloppyReader/lib/ADFWriter.o
/ArduinoFloppyReader/lib/ADFWriter.d
/ArduinoFloppyReader/avrfloppyreader
/ArduinoFloppyReader/ArduinoFloppyReader/Main.o
/ArduinoFloppyReader/ArduinoFloppyReader/Main.d
CVS
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/avrfloppyQt
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/clicklabel.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/main.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/mainwindow.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_clicklabel.cpp
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_clicklabel.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_mainwindow.cpp
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_mainwindow.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/ui_mainwindow.h
/waffleCopyPRO-Universal/.qmake.stash
/waffleCopyPRO-Universal/waffleCopyPRO-Universal.pro.user
/waffleCopyPRO-Universal/waffleCopyPRO-Universal.debug
/waffleCopyPRO-Universal/waffleCopyPRO-Universal
/waffleCopyPRO-Universal/ADFWriter.o
/waffleCopyPRO-Universal/ArduinoInterface.o
/waffleCopyPRO-Universal/RotationExtractor.o
/waffleCopyPRO-Universal/SerialIO.o
/waffleCopyPRO-Universal/clicklabel.o
/waffleCopyPRO-Universal/drawbridge.o
/waffleCopyPRO-Universal/main.o
/waffleCopyPRO-Universal/mainwindow.o
/waffleCopyPRO-Universal/moc_clicklabel.cpp
/waffleCopyPRO-Universal/moc_clicklabel.o
/waffleCopyPRO-Universal/moc_mainwindow.cpp
/waffleCopyPRO-Universal/moc_mainwindow.o
/waffleCopyPRO-Universal/moc_predefs.h
/waffleCopyPRO-Universal/qtdrawbridge.o
/waffleCopyPRO-Universal/ui_mainwindow.h
/waffleCopyPRO-Universal/Makefile
/ArduinoFloppyReader/ArduinoFloppyReader/ArduinoReaderWriter
/waffleCopyPRO-Universal/debug/
/waffleCopyPRO-Universal/release/
