/ArduinoFloppyReader/lib/LinuxCompat.o
/ArduinoFloppyReader/lib/LinuxCompat.d
/ArduinoFloppyReader/lib/ArduinoInterface.o
/ArduinoFloppyReader/lib/ArduinoInterface.d
/ArduinoFloppyReader/lib/ADFWriter.o
/ArduinoFloppyReader/lib/ADFWriter.d
/ArduinoFloppyReader/avrfloppyreader
/ArduinoFloppyReader/ArduinoFloppyReader/Main.o
/ArduinoFloppyReader/ArduinoFloppyReader/Main.d
CVS
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/avrfloppyQt
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/clicklabel.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/main.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/mainwindow.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_clicklabel.cpp
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_clicklabel.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_mainwindow.cpp
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/moc_mainwindow.o
/ArduinoFloppyReader/AVRFloppyReaderQt/avrfloppyQt/ui_mainwindow.h
/waffleCopyPRO-Universal/.qmake.stash
/waffleCopyPRO-Universal/waffleCopyPRO-Universal.pro.user
