name: Build WaffleCopyPRO on Windows

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version:	    5.15.2
          host:		    windows
          target: 	    desktop
          arch:      	win64_msvc2019_64
          dir:          ${{ runner.temp }}
          setup-python: false
          

      - name: Build Project
        run: |
          cd waffleCopyPRO-Universal
          qmake -tp vc waffleCopyPRO-Universal.pro
          msbuild waffleCopyPRO-Universal.vcxproj /p:Configuration=Release
        shell: pwsh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: waffleCopyPRO-Universal-Windows
          path: waffleCopyPRO-Universal/release/waffleCopyPRO-Universal.exe
