name: Build WaffleCopyPRO on Windows

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version:	    5.15.2
          host:		    windows
          target: 	    desktop
          arch:      	win64_msvc2019_64
          dir:          ${{ runner.temp }}
          setup-python: false
          
      - name: Build Project
        run: |
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd waffleCopyPRO-Universal
          qmake -tp vc waffleCopyPRO-Universal.pro
          msbuild waffleCopyPRO-Universal.vcxproj /p:Configuration=Release
        shell: cmd

      - name: Deploy and Package
        run: |
          $RELEASE_DIR = "waffleCopyPRO-Universal/release"
          & "${{ env.Qt5_Dir }}\bin\windeployqt.exe" --force --no-translations --no-compiler-runtime --dir $RELEASE_DIR "$RELEASE_DIR\waffleCopyPRO-Universal.exe"
          Copy-Item -Path "waffleCopyPRO-Universal/fonts" -Destination $RELEASE_DIR -Recurse
          Copy-Item -Path "waffleCopyPRO-Universal/WaffleUI" -Destination $RELEASE_DIR -Recurse
          Push-Location $RELEASE_DIR
          Compress-Archive -Path * -DestinationPath "../waffleCopyPRO-Universal-Windows.zip"
          Pop-Location
        shell: pwsh

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: waffleCopyPRO-Universal-Windows
          path: waffleCopyPRO-Universal/waffleCopyPRO-Universal-Windows.zip

      - name: Upload Release Asset
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: softprops/action-gh-release@v1
        with:
          files: waffleCopyPRO-Universal/waffleCopyPRO-Universal-Windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
