name: Build WaffleCopyPRO on Linux

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build AppImage
        run: |
          chmod +x build.sh
          ./build.sh
        shell: bash

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: waffleCopyPRO-Universal-Linux
          path: dist/WaffleCopyPRO-Universal-x86_64.AppImage

      - name: Create Release and Upload Asset
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          files: dist/WaffleCopyPRO-Universal-x86_64.AppImage
          draft: false
          prerelease: false
